/* Estilos para centrar el contenido */
body {
     display: flex;
     justify-content: center; /* Centra horizontalmente */
     align-items: center; /* Centra verticalmente */
     height: 100vh; /* Establece la altura del cuerpo para ocupar toda la pantalla */
     margin: 0; /* Elimina el margen predeterminado del cuerpo */
     background-color: #f0f0f0; /* Cambia el color de fondo de la página */
     font-family: Arial, sans-serif; /* Cambia la fuente del texto */
}

/* Estilos para el formulario */
#loginForm {
     text-align: center; /* Alinea el contenido del formulario al centro */
     background-color: #ffffff; /* Cambia el color de fondo del formulario */
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra al formulario */
}

/* Estilos para el botón Iniciar Sesión */
button[type="submit"] {
     padding: 10px 20px;
     background-color: #007bff; /* Cambia el color de fondo del botón según tus preferencias */
     color: #fff; /* Cambia el color del texto del botón según tus preferencias */
     border: none;
     cursor: pointer;
     border-radius: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
     width: 100%;
     padding: 10px;
     margin: 5px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 16px;
}

/* Estilos para el mensaje de error */
#mensaje {
     color: red; /* Cambia el color del mensaje de error según tus preferencias */
     font-weight: bold;
}
