@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

:root {
     --color-rojo: #ff0000;
     --color-verde: #6fd30c;
     --amarillo-pikachu: #fff836dc;
     --color-blanco: #ffffff;
     --color-negro: #000;
}

.modal--show {
     opacity: 1;
     pointer-events: unset;
}

.modal__container {
     width: 64%;
     background-color: var(--color-blanco);
     margin: auto;
     max-width: 600px;
     max-height: 90%;
     border-radius: 20px;
     padding: 3em 2.5em;
     display: grid;
     gap: 1em;
     place-items: center;
     grid-auto-columns: 100%;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
}

.modal__container p {
     font-size: 0.9em;
}

.modal__title {
     text-align: center;
     font-size: 2em;
}

.modal__paragraph {
     margin-bottom: 10px;
}

.modal__img {
     width: 90%;
     max-width: 300px;
}

.modal__close {
     text-decoration: none;
     color: var(--color-blanco);
     background-color: var(--color-negro);
     padding: 1em 3em;
     border: 1px solid;
     border-radius: 6px;
     font-weight: 300;
     display: inline-block;
     transition: background-color 0.3s;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     -webkit-transition: background-color 0.3s;
     -moz-transition: background-color 0.3s;
     -ms-transition: background-color 0.3s;
     -o-transition: background-color 0.3s;
}

.modal__close:hover {
     color: black;
     background-color: var(--color-blanco);
}
